<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.itheima.sh.controller"/>
    <!--springmvc注册驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--配置基于注解的Handler映射器-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->
    <!--配置基于注解的Handler适配器-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->

    <!--
                   把Controller交给spring管理，
                   在浏览器中通过id属性的值来访问
                   而我们在web.xml中配置的DispatcherServlet的访问路径是*.do
                   为了能够让请求进入springmvc框架，所以id的值以do结尾
            -->
    <!--<bean id="/hello.do" class="com.itheima.sh.controller.HelloController"/>-->
        <!--
        配置视图解析器
        prefix:指定视图所在的目录
        suffix:指定视图的后缀名
        例如:prefix:"/WEB-INF/jsp/",suffix=".jsp",当viewname="test"时,
        跳转到/WEB-INF/jsp/test.jsp页面-->


    <!--配置文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--上传文件不能超过10M-->
        <property name="maxUploadSize" value="10485760"/>
        <!--设置默认编码-->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--配置自定义拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--拦截所有controller请求包括多级路径也能被拦截-->
            <mvc:mapping path="/**"/>
            <!--自定义拦截的路径名-->
            <bean class="com.itheima.sh.interceptor.MyInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
      <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
          <property name="prefix" value="/WEB-INF/jsp/"/>
          <property name="suffix" value=".jsp"/>
    </bean>
</beans>