<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        <!--把SqlSessionFactory交给spring管理-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <!--注入数据源-->
            <property name="dataSource" ref="dataSource"/>
            <!--注入mybatis配置文件路径-->
            <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
            <!--注入映射文件路径,mybatis/mapper/**/*.xml表示匹配mybatis/mapper目录及子目录下所有xml文件-->
            <property name="mapperLocations" value="classpath:mybatis/mapper/**/*.xml"/>
            <!--别名扫描-->
            <property name="typeAliasesPackage" value="com.itheima.sh.domain"/>
        </bean>

    <!--配置mapper接口扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.itheima.sh.mapper"/>
    </bean>

</beans>